- var game = 'GAME';
- var bePatient = 'Please be patient, you will be back in the game in less than 1 minute.';
- var becauseOftheOddNumber = 'Because of the odd number of participants, someone must wait at each round. This round it is your turn.';

doctype html
title=game +' 1'
link(rel='stylesheet', type='text/css', href='../css/style.css')
body
    div(id='root')
        h2= bePatient
        =becauseOftheOddNumber
