extends iframe-layout

block mainContent
    div(id='container', style='font-size: 20px')
        h2=youAre
        h3=makeAnOffer
        input(type='number', min='0', max='100', name='offer',id='offer')
        |\n
        input(type='button', value=submit, name='submitOffer', id='submitOffer', class='btn')
        br
