doctype html
title=title
link(rel='stylesheet', href='/ultimatum/html/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/ultimatum/html/css/style.css')
body
    div(id='container', style='font-size: 20px')
        h2=youAre
        h3=makeAnOffer
        input(type='number', min='0', max='100', name='offer',id='offer')
        input(type='button', value=submit, name='submitOffer', id='submitOffer', class='btn')
        br
