extends iframe-layout

block mainContent
    div(id='container')
        h1=instructions
        div(id='instructions')
            =thisGame
            br
            br
            !=inEachRound
            br
            br
            =theRespondent
            br
            br
            =theGame
            br
            br
            =ifYouUnderstood