doctype html
title=title
link(rel='stylesheet', type='text/css', href='../css/style.css')
body
    h1=goodWeAreAboutToStart
    div(id='root')=theGameHasNotStarted

script.
    //	alert('ee');
    //	window.nodegame.fire('WAIT');
