extends iframe-layout

block extraHead
    link(rel='stylesheet', type='text/css', href='/stylesheets/nodegame.css')
    link(rel='stylesheet', type='text/css', href='../css/quiz.css')

block mainContent
    div(id='container_quiz')
        h1=title
        div(id='quiz')

