extends iframe-layout

block mainContent
    div(id='container', style='font-size: 20px')
        h2=youAreTheRespondant
        h3=waitingForAnOffer
        div(id='offered', style='display:none;')
            =youReceivedAnOffer
            span(id='theoffer')
            |.</br>
            input(type='button', value=accept, id='accept', class='btn')
            |\n
            input(type='button', value=reject, id='reject', class='btn')
